<!DOCTYPE html>
<html ng-app="_app_">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/ngapp.js"></script>

</head>
<body>
    <div>this is header</div>
    <div>this is body</div>
    <div class="row" ng-controller="navController">
        <div>
            <ul>
                <li ng-click="setUrl('red')">red</li>
                <li ng-click="setUrl('green')">green</li>
                <li ng-click="setUrl('yellow')">yellow</li>
            </ul>
        </div>
        <div ng-view>default center</div>
    </div>
</body>
</html>